
.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover, a:focus {
  color: greenyellow;
}

.mdl-layout__header{
  img{width: 291px;padding: 40px 40px 60px}
}

.mdl-layout__header{background-color: #2c194e}


