<!-- TODO -->


<form action="" action="#" name="salvarTemplate">
    
    
    
       <label for=""> Nome
            <input type="text" name="" id="" ng-model="form.nome">
        </label>
    
       <label> E-mail
            <input type="email" name="" id=""  ng-model="form.email">
        </label>
        
        <label>Nascimento
            <input type="date" name="" id=""  ng-model="form.nascimento" >  
        </label>
        
        <label>CPF
            <input type="text" name="" id="" ng-model="form.cpf" >
        </label>
        
        <label>Telefone
            <input type="text" name="" id=""  ng-model="form.telefone" >
        </label>
        <input type="submit" ng-Click="send_form()" >
    
    </form>
    
    
    